<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="appName" content="TestApp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LHL Express JS & CRUD</title>
</head>
<body>
    <h1>Edit a Book</h1>

    <div>
        <a href="/books/add">Add</a> |
        <a href="/">Home</a>
    </div>

    <form action="/books/<%= encodeURIComponent(book.title) %>" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= book.title %>" readonly />
        <br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="<%= book.author %>" required />
        <br>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" value="<%= book.genre %>" required />
        <br>

        <label for="publicationYear">Publication Year:</label>
        <input type="text" id="publicationYear" name="publicationYear" value="<%= book.publicationYear %>" required />
        <br>

        <button type="submit">Edit Book</button>                
    </form>

    <form action="/books/delete/<%= encodeURIComponent(book.title) %>" method="POST">
        <p>This will permenantly delete the book from the collection.
        </p>
        <p>Make sure you are certain you want to delete this prior to pressing <b></b>DELETE</b></p> 
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" id="title" name="title" value="<%= book.title %>">
        <button type="Submit">DELETE</button>
    </form>
    
    
</body>
</html>

